BP_Dolezal_Jakub_2018.aux        
BP_Dolezal_Jakub_2018.bbl         
BP_Dolezal_Jakub_2018.toc
BP_Dolezal_Jakub_2018.blg         
csn690.bst
BP_Dolezal_Jakub_2018.lof         
cvut-logo-bw.pdf
BP_Dolezal_Jakub_2018.log         
FITthesis.cls
BP_Dolezal_Jakub_2018.out         
iso690.bst
BP_Dolezal_Jakub_2018.pdf         
mybibliographyfile.bib
BP_Dolezal_Jakub_2018.synctex.gz